.head {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  /* text-shadow: 3px 2px 1px black; */
  /* margin-top: 100px; */
  line-height: 1.15;
  /* font-size: 5.5rem; */
  font-weight: bold;
  text-align: center;
  font-size: clamp(1.8rem, calc(5vw + 1rem), 5.5rem);
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-bottom: 4rem;
}

@media (max-width: 600px) {
  .head {
    /* font-size: 2.5rem; */
    /* margin-top: 2em; */
    margin-bottom: 2rem;
  }
}
