.footer{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    bottom: 0;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #73c2fb; 
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
}
.footer div{
    line-height: 20px;
    position: relative;
}
.icon svg{
    vertical-align: middle;
    font-size: 1.2rem;
}
