html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100vw;
  min-height: 100vh;
}
.flex-column {
  display: flex;
  flex-direction: column;
  background-image: url("./../assets/bg/main-bg.png");
}
.main-bg {
  background-image: url("./../assets/bg/main-bg.png");
}
