/* This StyleSheet was prepared for the logo in the NavBar. 
Please put any other style definitions inside globals.css or create a new stylesheet under styles folder */

.logo {
  width: 3rem;
  position: relative;
  top: 0.2rem;
}

.logo-text {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 3.5rem;
  display: inline-block;
  position: relative;
  top: -0.7rem;
}
